.nav-bar
{
	top:0;
	position: sticky;
}

#header

{
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(static/img/pic.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.navbar-brand img
{
	height: 50px;
}